@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
p {
    font-size: 15px;
}
h1 {
    color:hsl(292, 42%, 14%);
    font-size: 2.5rem;
}
h3 {
    color:hsl(292, 42%, 14%);
    font-size: 0.9rem;
}
h3:hover {
    cursor: pointer;
    color: #AD28EB;
}
body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card .title {
    display: flex;
    gap: 1.3rem;
}
.card .questions{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.card .questions > p {
    line-height: 20px;
    color: hsl(292, 16%, 49%);
    font-weight: 100;
    font-size: 13px;   
}
.card .questions .none {
    display: none;
}
.card .questions .show {
    display: show;
}
.card .questions >h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .questions >h3.star::after{
    content: url(assets/images/icon-plus.svg);
    cursor: pointer;
}
.card .questions >h3.no-star::after{
    content: url(assets/images/icon-minus.svg);
    cursor: pointer;
}
.card {
    gap: 2rem;
    padding: 50px 35px 50px 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 0rem;
    max-height: 45rem;
    width: 27rem;
    border-radius: 10px;
}

@media (max-width: 500px){
    p {
        font-size: 10px;
    }
    h1 {
        color:hsl(292, 42%, 14%);
        font-size: 2rem;
    }
    h3 {
        color:hsl(292, 42%, 14%);
        font-size: 0.7rem;
    }
    .card{
        padding: 25px;
        margin: 10px;
        width: 20rem;
        max-height: 55rem;
    
        }
    .card .questions >h3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        }
    }